.authentication__header {
    color: white;
    text-align: center;
  }
  
  .authentication {
    width: fit-content;
    min-width: 25rem;
    margin: 7rem auto;
    padding: 1rem;
    /* text-align: center; */
  }
  
  .authentication form {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  